.header {
    border-style: solid;
    border-width: 1px;
    margin: 10px;
    height: 70px;
    position: relative;
}

.logo {
  position: absolute;
  left: 10px;
  top: 10px;
  bottom: 10px;
}

.nav {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
}

.caminho{
  position: absolute;
  left: 10px;
}

.caminho_item {
  display: inline;

}

.title{
    position: absolute;

}

/*categorias*/

.itens {
    background-color: red;
    display: inline;
}