.menu {
    justify-content: space-between;
    display: flex;
    margin: 0.5rem;
    padding: 1rem;
}   
.grupos {
    display: flex;
    flex-flow: : column wrap;
    justify-content: :flex-start;
    background-color: blue;
    width: 100%;
}   
.itens {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    width: 50%;
    margin: 0.5rem;
    padding: 1rem;
    
}   

.foto_projeto {
    width: 200px;
    height: 150px;
    max-width: 100%;
    margin-left: 1rem;
}
.text{
  font-size: 1rem;
  margin-left: 0.5rem;
}