.menu {
    justify-content: space-between;
    display: flex;
    margin: 0.5rem;
    padding: 1rem;
}   
.grupos {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: white;
    max-width: 100%;
}   
.itens {
    display: flex;
    flex-flow: wrap row-reverse;
    align-items: stretch;
    background-color: grey;
    width: 40%;
    margin: 0.5rem;
    padding: 1rem;
    
} 
.texto{
    margin-left: 0.5rem; 
    font-family: 'Sorts Mill Goudy', serif;
}  

.texto2{
    font-size: 2rem;
    font-family: 'Red Hat Text', sans-serif;
}

    