/*index*/
.section-menu{
  border-style: solid;
  border-width: 1px;
  display: flex;
  background-color: gold;
  justify-content: center;

}

.pai{
  display: flex;
  justify-content: center;
  background-color: red;
}

.section-menu-item{

}

.Thanos_index{

}

.title_index{
  

}

.Thanos_index_img{
  

}

.Perfil_index{
  

}

.apresentacao{
  

}

.index-text {
  

}