/*index*/

.Thanos_index{
  display: flex;
}

.menu{
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

.Thanos_index_img{
  border-radius: 3rem;
  height: 6rem;
  width: 6rem;
}

.title_index{
  display: flex;
  padding: 2rem;
  height: 1rem;
  font-family: 'Red Hat Text', sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  justify-content: center;
}

.Perfil_index{
  display: flex;
  margin: 0.5rem;
  justify-content: center;
}

.section-menu{
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 0.95rem;
  padding: 0.5rem;
}

.section-menu-item{
  color: #6a7329 ;
  font-weight: bold;
  text-decoration: none;
  font-size: 1rem
}

.index-text{
     padding: 1rem;
}


@media (min-width: 380px){
  .title_index{
  justify-content: flex-start;
  margin: 0.2rem;
  padding: 1rem;
  height: 1rem;
  font-family: 'Red Hat Text', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.menu{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin: 0.2rem;
  padding: 1rem;

}

.section-menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 0.95rem;
  margin-left: 2rem;
}

.index-text {  
  display: flex;
  flex-direction: column;
  margin: 0.2rem;
  height: 2rem;
}

.texto {
  align-self: flex-start;
  font-family: 'Sorts Mill Goudy', sans-serif;
  font-size: 1.2rem;
  margin-left: 2rem;
}

.Perfil_index{
  flex-direction: row;
  flex-wrap: wrap;
}

.apresentacao{
  margin: 0.2rem;
  padding: 1rem;
  height: 1rem;
  font-family: 'Sorts Mill Goudy', serif;
}

.Thanos_index_img{
  height: 15rem;
  width: 15rem;
  border-radius: 1rem;
}

.section-menu-item{
  color: #6a7329 ;
  font-weight: bold;
  text-decoration: none;
}
