
.title{
    font-size: 1.5rem;
    font-family: 'Red Hat Text', sans-serif
  }

.menu {
    justify-content: space-between;
    display: flex;
    margin: 0.5rem;
    padding: 1rem;
} 

.grupos {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #f2f2f2 ;
    max-width: 100%;
}   
.itens {
    display: flex;
    flex-flow: wrap row;
    align-items: stretch;
    background-color: #f2f2f2;
    color: #6a7329;
    width: 40%;
    margin: 0.5rem;
    padding: 1rem;
} 
.texto{
    margin-left: 0.5rem; 
    font-family: 'Sorts Mill Goudy', serif;
}  

.texto2{
    font-size: 1.5rem;
    font-family: 'Red Hat Text', sans-serif;
}

.linkss {
    color: #6a7329;
    text-decoration: none;
}

h1 {
      margin-left: 3rem;
}



@media(min-width:415px){



  .picproj{
    display: block;
    position: absolute;
  }

  .texto{
    display: block;
    margin-left: 0.5rem; 
    font-family: 'Sorts Mill Goudy', serif;
  }  

  .texto2{
      font-size: 1.5rem;
      font-family: 'Red Hat Text', sans-serif;
  }

  .linkss {
      color: #6a7329;
      text-decoration: none;
  }

  .titulo{
    flex-wrap: column;
    margin-top: 1rem;
  }

  .title{
    font-size: 2rem;
    font-family: 'Red Hat Text', sans-serif
  }

  h1 {
        margin-left: 1rem;
  }
}
