body {
    background-color: #f2f2f2;
}

.header{
    justify-content: space-between;
    background-color: #a6142f;
    display: flex;
    margin: 0.5rem;
    padding: 1rem;
    font-family: 'Red Hat Text', sans-serif;
}

.logo {
    width: 80px;
    height: 50px;
}

.nav {   
   display: none;
}

.caminho_item {
    display: none;
}

.sec{
    justify-content: flex-start;
    background-color: #f2f2f2 ;
    display: flex;
    margin: 0.2rem;
    padding: 1rem;
    height: 1rem;
}

.thanos{
    display: flex;
    align-items: center;
}

.img_thans{
    height: 35px;
    width: 35px;
    border-radius: 2rem;
}

.sidebar {
  position: absolute;
  top: 0.5rem;
  right: -200px;
  height: 81vh;
  width: 150px;
  display: block;
  background-color: #6a7329;
  transition: all 0.5s;
}

.app_item {
    position: relative;
    flex-grow: 1;
}

.menu-figure img{
    display: block;
    width: 50px;
    height: 50px;
    background-size: cover;
    cursor: pointer;
}

.menu-figure:hover {
  transition: all 0.5s;
}

.menu-figure:hover + .sidebar{
  right: 0;
  transition: all 0.5s;
} 

.sidebar:hover {
  right: 0;
  transition: all 0.5s;
} 


.link2{
    padding: 1rem;
    transition: background-color .25s, color .25s;
}

.link2:hover {
    background-color: #00FF00;
    color: #000000;
}


@media (min-width: 415px) {

    body {
        background-color: #f2f2f2;
    }

    .header{
        justify-content: space-between;
        background-color: #a6142f;
        display: flex;
        margin: 0.5rem;
        padding: 1rem;
        font-family: 'Red Hat Text', sans-serif;
    }

    .logo {
        width: 120px;
        height: 50px;
    }

    .nav {   
        display: block;
        width: 150px;
        height: 40px;
    }

    .sec{
        justify-content: space-between;
        background-color: #f2f2f2 ;
        display: flex;
        margin: 0.2rem;
        padding: 1rem;
        height: 1rem;
    }

    .caminho {
        display: flex;
        align-items: center;
        font-family: 'Sorts Mill Goudy', serif;
    }

    .link{
        display: inline;
        color: #6a7329;
        text-decoration: none;
    }

    .caminho_item {
        display: inline;
    }

    .thanos{
        display: flex;
        align-items: center;
 
    }

    .img_thans{
        height: 30px;
        width: 30px;
        border-radius: 2rem;
    }

    .menu-figure {
        display: none;
    }

    .app_menu{
        display: none;
    }

    .sidebar{
         display: none;
    }
    .link2{
        display: none;
    }


}