/*projeto*/

  .title{
    justify-content: flex-start;
    margin: 0.2rem;
    padding: 1rem;
    height: 1rem;
    font-size: 2rem;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: bold;
  }

  .jogo-image{
    width: 400px;
    height: 300px;
    max-width: 100%;
    margin-left: 1rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-self: center;
  }

  .jogo-text{
    font-size: 1rem;
    font-family: 'Sorts Mill Goudy', serif;
    margin-left: 2rem; 
    margin-top: 1rem;
  }

  .game{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-top: 1rem;
  }

  .descricao_proj{
    font-weight: bold;
  }

  .autores_proj{
    font-weight: bold;
  }

  .recursos_proj{
    font-weight: bold;
  }



@media (min-width: 416px) {
  .title{
    display: flex;
    font-size: 2rem;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: bold;
  }

  .jogo-image{

    border-radius: 2rem;
    display: flex;
    max-width: 95%;
    margin-left: 1rem;
  }

  .jogo-text{
    font-size: 1rem;
    font-family: 'Sorts Mill Goudy', serif;
    margin-top: 1rem;
  }

  .game{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    width: 100%;
  }

  .descricao_proj{
    font-weight: bold;
  }

  .autores_proj{
    font-weight: bold;
    margin-top: 0.5rem;
  }

  .recursos_proj{
    font-weight: bold;
    margin-top: 0.5rem;
  }

}